@import './modules/colors.css';
@import './modules/fonts.css';

html {
  --global-app-header-height: 80px;
  --global-base-font-size: 12px;
  --global-standard-vertical-offset: 48px;
  --global-standard-horizontal-offset: 32px;

  --global-app-bg-color: var(--dark-color-1);
  --global-base-component-bg-color: var(--dark-color-2);
  --global-primary-color: var(--purple-color-1);
  --global-alternative-color: var(--purple-color-2);
  --global-danger-color: var(--red-color-1);
  --global-text-color: var(--gray-color-2);
}

body {
  background: var(--global-app-bg-color) !important;
}

/* Wallet connect modal */
section.desktop h1 {
  color: #000000;
}

section.mobile h1 {
  color: #000000;
}

/* Utility color classes*/
.text-color-primary {
  color: var(--global-primary-color);
}

.text-color-alternative {
  color: var(--global-alternative-color);
}

.text-color-white {
  color: var(--white-color);
}

.text-color-danger {
  color: var(--global-danger-color);
}

/* Flex utility classes */
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

/* General utility classes */
.nowrap {
  white-space: nowrap;
}
