@import './modules/colors.css';
@import './modules/fonts.css';

html {
  --global-app-header-height: 80px;
  --global-base-font-size: 12px;

  --global-app-bg-color: var(--dark-color-1);
  --global-base-component-bg-color: var(--dark-color-2);
  --global-primary-color: var(--purple-color-1);
  --global-text-color: var(--gray-color-2);
}

body {
  background: var(--global-app-bg-color) !important;
}
